extends layout

block content
  img(src="/images/diary-background.jpg", alt="Diary", class="w-full h-60")
  div(class="flex justify-center mt-4")
    div(class="w-3/5")
      h2(class="text-3xl font-medium") What is a Diary
      p(class="mt-4") It’s fast, easy, and fun to keep a private online diary through our website. Many people keep diaries every day, but are those diaries really secure? They aren't unless they're hidden in an app or on a private website! Secure behind passwords, the days of siblings stealing paper diaries are over.
      p(class="mt-4") Many people keep diaries, in fact, famous politicians at the beginning of the American Revolution were known to keep private thoughts in notebooks. If diaries did not exist, some of the country's best wisdom could have been lost. Diaries are valuable views into the past, and they reveal thoughts that may have died with the author, if a daily diary had not been kept. 
      p(class="mt-4") A diary is a book full of the writings of the owner. Traditionally, diaries have been kept in paper journals, written in pen, pencil, crayon, or whatever medium desired by the writer. Recently, diaries have been converted to electronic form, such as blogs or online journals. Many people do not feel comfortable posting their private thoughts for the public to view, so some companies, such as Penzu, have created private online diaries. The diary is a blank slate, ready for the owner to write whatever he or she feels. Penzu diaries, however, are private, password protected, and cannot be accessed by the general public.
      div(class="flex justify-center mt-4 p-8 rounded-lg shadow-md bg-red-500 text-white font-semibold")
        div(class="w-full flex justify-between")
          div(class="flex flex-col justify-center") There's no time like the present
          button(class="mr-8 px-4 py-2 rounded-lg shadow-md bg-white text-red-500 font-semibold hover:bg-gray-50") Create your Diary >>
      h2(class="text-3xl mt-4 font-medium") Why Write a Diary?
      p(class="mt-4") When people use Penzu for electronic diary needs, they discover a world of blank paper just waiting to be filled. Writing a diary is good for the mind, and it helps reduce stress, as it brings out the day's worries. Getting thoughts out on paper helps people stay organized, keeps goals on track, and pulls the day's worries into the open. Writing is proven to be therapeutic, and many therapists suggest keeping a diary for their patients who need extra help in communications.