extends ../layout

block content 
  div(class="flex justify-center")
    div(class="card shadow p-12 w-2/5 rounded")
      form(id="sign-up", action="/sign-up", method="post", autocomplete="off")
        input(type="text", id="username", name="username", class="input")
        br
        label(for="username") Username
        br
        input(type="password", id="password" name="password",class="input") 
        br
        label(for="password") Password
        br
        input(type="password", id="re-password" name="rePassword",class="input") 
        br
        label(for="re-password") Confirm Password
        br
        div(class="flex justify-center")
          input(type="submit", value="Sign Up", class="btn")
